@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', serif;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-size: 55px;
    line-height: 55px;
}

.mt10 {
    margin-top: 10px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

/* Указываем box sizing */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/* Убираем внутренние отступы */
/* ul[class],
ol[class] {
  padding: 0;
} */

/* Убираем внешние отступы */
/* body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
} */

/* Выставляем основные настройки по-умолчанию для body */
/* body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
} */

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
/* ul[class],
ol[class] {
  list-style: none;
} */

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
/* a:not([class]) {
  text-decoration-skip-ink: auto;
} */

/* Упрощаем работу с изображениями */
/* img {
  max-width: 100%;
  display: block;
} */

/* Наследуем шрифты для инпутов и кнопок */
/* input,
button,
textarea,
select {
  font: inherit;
} */

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
/* ul[class],
ol[class] {
  list-style: none;
} */

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
/* a:not([class]) {
  text-decoration-skip-ink: auto;
} */

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
/* input,
button,
textarea,
select {
  font: inherit;
} */
/* ----------------------------------------------------header------------------------------------------ */

.container {
    margin: 0 auto;
    max-width: 1440px;
}

header {
    height: 100px;
    /* display: flex;
  align-items: center; */
}

header>img {
    margin: 20px 0px 0px 121px;
}


.firstBlockContainer {
    margin-top: 80px;
}

.firstBlockElementsWrapper {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-left: 121px;
}

.firstBlockElement {
    display: flex;
    width: 200px;
}

.firstBlock-p-element {
    padding-left: 10px;
}

.firstBlockTextWrapper {
    margin-top: 30px;
    margin-left: 121px;
    display: flex;
    justify-content: space-between;
}

/* .first-block__text {
  width: 54%;
} */

.firstBlock-h {
    max-width: 630px;
    /* height: 200px; */
    /* font-size: 80px; */
    display: flex;
    /* align-items: center; */
}

.firstBlock-h>h1 {
    font-size: 80px;
    line-height: 81px;
}

.firstBlock-p {
    max-width: 415px;
    margin-top: 10px;
    height: 62px;
    font-size: 20px;
    line-height: 30px;
}

.firstBlock-imgWrapper {
    display: flex;
    margin-right: 250px;
}

.firstBlock-img {
    position: relative;
}

.firstBlock-ellipse {
    position: absolute;
    z-index: -1;
    bottom: -20px;
    width: 90%;
    left: 30px;
}

.quoteWrapper {
    height: 450px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 430px;
}

.quote {
    background-color: #1e4681;
    border-radius: 5px;
    width: 430px;
    height: 170px;
    padding: 20px;
}

.quote-p-wrapper {
    color: white;
}

.quote-p {
    height: 140px;
    font-family: "Roboto Slab", serif;
    font-size: 25px;
    text-align: left;
}

.author {
    /* height: 45px; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 20px;
}


/* ------------------------------------aboutCourse-------------------------------------------- */


.aboutCourseTitle {
    font-size: 55px;
    height: 150px;
    margin-left: 121px;
}

/* --------------upper-block--------------- */

.aboutCourseUpper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 121px;
}

.aboutCourseUpperParagraphWrapper {
    height: 500px;
}

.aboutCourseUpperParagraph {
    font-family: "Roboto", sans-serif;
    max-width: 662px;
    font-size: 24px;
    margin-bottom: 45px;
}

.aboutCourseUpperImgWrapper {
    position: relative;
    top: 30px;
    height: 400px;
    right: 30px;
}

.aboutCourseUpperShadow {
    position: absolute;
    bottom: 50px;
    left: -30px;
    /* width: 150%; */
    z-index: -1;
}

/* ------------lower-block---------------- */

.aboutCourseLower {
    display: flex;
    margin-bottom: 150px;
    margin-left: 121px;
}

.aboutCourseLowerLeftImg {
    position: relative;
    max-width: 232px;
    margin-right: 132px;
    height: 220px;
}

.aboutCourseLowerShadow {
    position: absolute;
    bottom: 0px;
    z-index: -1;
    left: 25px;
}

.aboutCourseLowerParagraphWrapper {
    display: flex;
    position: relative;
    top: 80px;
    height: 100px;
    flex-wrap: wrap;
}

.aboutCourseLowerParagraph {
    max-width: 150px;
    margin-right: 95px;
}

.aboutCourseLowerParagraph:last-child {
    margin: 0;
}

.aboutCourseLowerTitle {
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
}

.aboutCourseLowerText {
    font-size: 18px;
    line-height: 130%;
}


.courseFormatHeader {
    margin-left: 121px;
}

.courseFormatTitle {
    width: 90%;
    height: 93px;
    font-size: 55px;
}

.courseFormatColumnsUp {
    color: #1e4681;
    font-weight: bold;
    font-size: 25px;
    margin-top: 60px;
}

.courseFormatColumnsDown {
    font-size: 18px;
}

.courseFormatHeaderColumns {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.courseFormatFooter {
    margin-top: 100px;
    margin-left: 121px;
}

.courseFormatQuestions {
    margin-top: 50px;
    list-style: disc;

}

.courseFormatFooter ul {
    list-style-type: disc;
    margin-left: 2%;
    margin-bottom: 65px;
    max-width: 662px;
}

.courseFormatQuestion-items {
    font-size: 25px;
    margin-top: 5px;

}


/*-------------------------------courseProgram------------------------------------------*/

.courseProgramTitle {
    font-size: 55px;
    line-height: 56px;
    margin-left: 121px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.courseProgramContainer {
    display: flex;
    flex-direction: column;
    /* max-width: 1290px; */
    /* margin: 0px auto; */
}


.courseProgramCards {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1290px;
    margin: 0px auto;
}


.courseProgramElement {
    width: 399px;
    height: 328px;
    border-radius: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    margin: 15px;
}


.courseProgramElement img {
    width: 399px;
    height: 160px;
}

.courseProgramCardsHeader {
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    margin-top: 10px;
    margin-left: 10px;
}

.courseProgramElement p:last-child {
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 20px;
    margin-left: 10px;
}

.courseFeedback {
    width: 100%;
    background-color: #efefef;
}

.courseFeedbackContainer {
    margin: 0px auto;
    max-width: 1440px;
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 50px;
}

.courseFeedbackHeader {
    font-family: Roboto Slab;
    font-size: 55px;
    font-weight: 700;
    line-height: 56px;
    margin-left: 121px;
}

.courseFeedbackCard {
    display: flex;
    flex-direction: column;
    height: 360px;
    max-width: 720px;
    border-radius: 30px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    margin-left: 120px;
    padding: 40px;
}

.courseFeedbackCardText {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.courseFeedbackCardSocial {
    display: flex;
    margin-top: 30px;
}

.courseFeedbackSocialPhoto img {
    height: 169px;
    width: 190px;
    margin-right: 20px;
}

.courseFeedbackSocialMetaName {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 40px;
}

.courseFeedbackSocialMetaIcon img {
    height: 31px;
    width: 32px;
    margin-top: 20px;
}

/* ----------------------------------------courseProps Desktop----------------------------------------------------- */

.courseProps {
    background-color: #9dc9c8;
    font-family: "Roboto", sans-serif;
}

.coursePropsTitle {
    display: flex;
    align-items: center;
    height: 200px;
    font-family: "Roboto Slab", serif;
    padding-top: 100px;
    margin-left: 121px;
}

.coursePropsTitle>h2 {
    font-size: 55px;
}

.coursePropsPrice {
    line-height: 1.1;
    height: 185px;
    margin-left: 121px;
}

.coursePropsPriceWord {
    font-size: 25px;
}

.coursePropsPriceNumber {
    font-size: 80px;
}

.coursePropsParagraphWrapper {
    display: flex;
    height: 295px;
    margin-left: 121px;
}

.paragraph {
    line-height: 1.1;
    max-width: 294px;
    margin-right: 70px;
}

.paragraphTitle {
    font-size: 25px;
    margin-bottom: 9px;
}

.paragraphText {
    font-size: 18px;
}

/* -----------------------------------footer------------------------------------------ */

.footer {
    background-color: black;
    color: white;
}

.footerLogo {
    display: flex;
    align-items: center;
    height: 150px;
}

.footerUpper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 250px;
    margin-left: 121px;
}

.footerIconsLeft {
    display: flex;
}

.iconLeft {
    margin-right: 30px;
    width: 33px;
    height: 33px;
}

.footerRightSide {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: center;
    height: 180px;
    margin-right: 180px;
}

.mobile {
    display: flex;
}

.mail {
    display: flex;
    align-items: center;
}

/* .mobile__number {
    margin-top: -5px;
} */

.mobileIcon {
    margin-right: 15px;
    margin-bottom: 20px;
}

.mailIcon {
    margin-right: 10px;
}

.footerCopyright {
    display: flex;
    height: 150px;
    align-items: center;
    font-size: 18px;
    margin-left: 121px;
}


@media (min-width: 834px) and (max-width: 1440px) {
    /* tablet resolution */

    /* ----------------------------------------------------header------------------------------------------ */

    h1 {
        font-size: 46px;
        line-height: 46px;
    }

    h2 {
        font-size: 32px;
        line-height: 32px;
    }

    .container {
        max-width: 834px;
    }

    header {
        height: 80px;
    }

    .logo {
        width: 65px;
        margin-left: 70px;
        /* height: 30.75px; */
    }

    .firstBlockContainer {
        margin-top: 16px;
    }

    .firstBlockElementsWrapper {
        width: 300px;
        margin-left: 70px;
    }

    .globe {
        width: 12.74px;
        height: 12.16px;
    }

    .clock {
        width: 12.74px;
        height: 12.74px;
    }

    .calendar {
        width: 11.58px;
        height: 12.74px;
    }

    .firstBlock-p-element {
        font-size: 12px;
        width: 75px;
        padding-left: 5px;
    }

    .firstBlock-ellipse {
        width: 80%;
        left: 24px;
        bottom: -10px;
    }

    .firstBlock-imgWrapper {
        justify-content: flex-end;
        margin-right: 100px;
    }

    .firstBlock-img {
        width: 176px;
        height: 206px;
    }

    .firstBlockTextWrapper {
        margin-top: 15px;
        margin-left: 70px;
    }

    .firstBlock-h {
        font-size: 46px;
        max-width: 363px;
        height: 115px;
        line-height: 47px;
    }

    .firstBlock-h>h1 {
        font-size: 46px;
        line-height: 46px;
    }

    .firstBlock-p {
        font-size: 12px;
        max-width: 264px;
        line-height: 18px;
        margin-top: 0px;
    }

    .quoteWrapper {
        height: 200px;
        margin-left: 280px;
    }

    .quote {
        width: 280px;
        height: 90px;
        padding: 10px;
    }

    .quote-p {
        font-size: 14px;
        height: 65px;
    }

    .author {
        font-size: 12px;
        height: 20px;
    }

    /* ----------------------------------------------------aboutCourse------------------------------------------ */

    .aboutCourseTitle {
        font-size: 32px;
        height: 60px;
        margin-left: 70px;
    }

    .aboutCourseUpper {
        margin-left: 70px;
    }

    .aboutCourseUpperParagraphWrapper {
        height: 300px;
    }

    .aboutCourseUpperParagraph {
        max-width: 383px;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 27px;
    }

    .aboutCourseUpperImgWrapper {
        top: 30px;
        max-width: 181.86px;
        max-height: 182.44px;
    }

    .aboutCourseUpperShadow {
        bottom: -25px;
        left: -30px;
        width: 135%;
    }

    /* ---------------------------- */

    .aboutCourseLower {
        height: 210px;
        margin-left: 70px;
    }

    .aboutCourseLowerParagraphWrapper {
        top: 40px;
    }

    .aboutCourseLowerLeftImg {
        width: 134.37px;
        height: 117.57px;
        margin-right: 76.5px;
    }

    .aboutCourseLowerShadow {
        position: absolute;
        bottom: -10px;
        left: 15px;
    }

    .aboutCourseLowerParagraph {
        max-width: 86.88px;
        margin-right: 55.2px;
    }

    .aboutCourseLowerParagraph:nth-child(2) {
        max-width: 91px;
    }

    .aboutCourseLowerTitle {
        font-size: 15px;
    }

    .aboutCourseLowerText {
        font-size: 11px;
    }


    .courseFormatHeader {
        margin-left: 70px;
    }

    .courseFormatTitle {
        width: 90%;
        height: 50px;
        font-size: 32px;
    }

    .courseFormatColumnsUp {
        color: #1e4681;
        font-weight: bold;
        font-size: 15px;
        margin-top: 60px;
    }

    .courseFormatColumnsDown {
        font-size: 11px;
    }

    .courseFormatHeaderColumns {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .courseFormatFooter {
        margin-top: 130px;
        margin-left: 70px;
    }

    .courseFormatQuestions {
        margin-top: 20px;

    }

    .courseFormatQuestion-items {
        font-size: 14px;
        line-height: 21px;
        margin-top: 0px;
        max-width: 383px;
    }


    /* ----------------------------------------------------courseProgram------------------------------------------ */
    .courseProgramContainer {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin: 0px auto;
    }

    .courseProgramTitle {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        margin-left: 40px;
        margin-bottom: 0px;
    }


    .courseProgramCards {
        margin: 55px auto;
        width: 770px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 65px;
    }

    .courseProgramElement {
        height: 190px;
        width: 231px;
        border-radius: 17.375px;
        margin: 10px;
    }


    .courseProgramElement img {
        height: 92px;
        width: 231px;
    }

    .courseProgramCardsHeader {
        font-size: 17px;
        font-weight: 700;
        line-height: 22px;
    }


    .courseProgramElement p:last-child {

        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }

    /* ----------------------------------------------------5 block------------------------------------------ */

    .courseFeedbackContainer {
        height: 452px;
        max-width: 834px;
        margin: 0px auto;
        justify-content: space-around;
    }

    .courseFeedbackHeader {
        padding-top: 40px;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        margin-left: 70px;
    }

    .courseFeedbackCard {
        height: 205px;
        max-width: 400px;
        border-radius: 17.375px;
        padding: 30px;
        margin-left: 70px;
    }

    .courseFeedbackCardText {
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }

    .courseFeedbackCardSocial {
        margin-top: 15px;
    }

    .courseFeedbackSocialPhoto img {
        height: 97px;
        width: 110px;
    }

    .courseFeedbackSocialMeta {
        margin-top: -20px;
    }

    .courseFeedbackSocialMetaName {

        font-size: 17px;
        font-weight: 700;
        line-height: 17px;
    }

    .courseFeedbackSocialMetaIcon img {
        height: 18px;
        width: 19px;
    }

    /* ----------------------------------------------------courseProps-tablet----------------------------------- */

    .coursePropsTitle {
        height: 100px;
        font-size: 32px;
        margin-left: 70px;
    }

    .coursePropsTitle>h2 {
        font-size: 32px;
        line-height: 32px;
    }

    .coursePropsPrice {
        height: 120px;
        margin-left: 70px;
    }

    .coursePropsPriceWord {
        font-size: 14px;
    }

    .coursePropsPriceNumber {
        font-size: 46px;
    }

    .coursePropsParagraphWrapper {
        height: 150px;
        margin-left: 70px;
    }

    .paragraph {
        max-width: 170px;
        margin-right: 40.5px;
    }

    .paragraphTitle {
        font-size: 14px;
        margin-bottom: 5.5px;
    }

    .paragraphText {
        font-size: 10px;
    }

    /* ----------------------------- */

    .footerUpper {
        height: 150px;
        margin-left: 70px;
    }

    .iconLeft {
        margin-right: 17.3px;
        width: 19.11px;
        height: 19.11px;
    }

    .footerLogo {
        width: 66.6px;
        height: 90px;
    }

    .footerRightSide {
        font-size: 14px;
        height: 100px;
        margin-right: 100px;
    }

    .mail {
        display: flex;
        align-items: center;
    }

    .mobileNumber {
        margin-top: -2px;
    }

    .mobileIcon {
        margin-right: 5%;
        margin-bottom: 10%;
        width: 15.64px;
        height: 15.64px;
    }

    .mailIcon {
        margin-right: 10px;
        width: 15.64px;
        height: 10.43px;
    }

    .footerCopyright {
        height: 90px;
        font-size: 10px;
        margin-left: 70px;
    }

}


@media (min-width: 375px) and (max-width: 834px) {
    /* mobile resolution */

    /* ----------------------------------------------------header------------------------------------------ */

    h1 {
        font-size: 37px;
        line-height: 37px;
    }

    h2 {
        font-size: 26px;
        line-height: 26px;
    }

    .container {
        max-width: 375px;
    }

    header {
        height: 80px;
    }

    .firstBlockContainer {
        margin-top: 0px;
    }

    .firstBlock-ellipse {
        left: 10px;
        bottom: -10px;
    }

    .logo {
        width: 52px;
        margin-left: 35px;
    }

    .firstBlockElementsWrapper {
        width: 80%;
        margin-bottom: 8px;
        margin-left: 35px;
    }

    .firstBlockElement {
        width: 230px;
    }

    .firstBlockTextWrapper {
        display: block;
        margin-left: 35px;
    }

    .firstBlock-h>h1 {
        width: 290px;
        height: 88px;
        font-size: 36px;
        line-height: 36px;
    }

    .firstBlock-p {
        width: 210px;
        height: 30px;
        font-size: 10px;
        line-height: 15px;
    }

    .firstBlock-imgWrapper {
        justify-content: flex-end;
        margin-right: 0px;
    }

    .firstBlock-img {
        width: 141.66px;
        height: 165.89px;
    }

    .globe {
        width: 10.25px;
        height: 9.79px;
    }

    .clock {
        width: 10.25px;
        height: 10.25px;
    }

    .calendar {
        width: 9.32px;
        height: 10.25px;
    }

    .firstBlock-p-element {
        font-size: 10px;
        max-width: 75px;
        padding-left: 4px;
    }

    .quoteWrapper {
        justify-content: flex-start;
        height: 190px;
        margin-left: 35px;
    }

    .quote {
        width: 225px;
        height: 75px;
    }

    .quote-p {
        font-size: 11px;
        height: 52px;
    }

    .author {
        font-size: 10px;
        height: 22px;
    }

    /* -------------------------aboutCourse---------------------------------- */

    .aboutCourseTitle {
        font-size: 26px;
        height: 60px;
        margin-left: 35px;
    }

    .aboutCourseUpper {
        margin-left: 35px;
    }

    .aboutCourseUpperParagraphWrapper {
        height: 250px;
    }

    .aboutCourseUpperParagraph {
        max-width: 308px;
        font-size: 12px;
        margin-bottom: 24px;
        line-height: 18px;
    }

    .aboutCourseUpperImgWrapper {
        top: 0px;
        max-width: 150px;
        max-height: 135px;
        right: -65px;
    }

    .aboutCourseUpperShadow {
        bottom: -30px;
        left: -25px;
        width: 130%;
    }

    /* ---------------------------- */

    .aboutCourseLowerLeftImg {
        display: none;
    }

    .aboutCourseLowerParagraphWrapper {
        max-width: 250px;
        height: 100px;
        margin-top: 20px;
    }

    .aboutCourseLower {
        height: 250px;
        margin-left: 35px;
    }

    .aboutCourseLowerParagraph {
        max-width: 86.88px;
        margin-right: 33.3px;
        margin-bottom: 34px;
    }

    .aboutCourseLowerTitle {
        font-size: 12px;
    }

    .aboutCourseLowerText {
        font-size: 10px;
    }


    .courseFormatTitle {
        width: 90%;
        height: 50px;
        font-size: 26px;
    }

    .courseFormatColumnsUp {
        color: #1e4681;
        font-weight: bold;
        font-size: 12px;
        margin-top: 5px;
    }

    .courseFormatColumnsDown {
        font-size: 10px;
        margin-bottom: 25px;
    }

    .courseFormatHeaderColumns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 70%;
        padding-bottom: 10px;

    }

    .courseFormatHeader {
        margin-left: 35px;
    }

    .courseFormatFooter {
        margin-top: 30px;
        margin-left: 35px;
    }

    .courseFormatQuestions {
        margin-bottom: 80px;
        margin-top: 20px;
    }

    .courseFormatFooter ul {
        margin-left: 20px;
    }

    .courseFormatQuestion-items {
        font-size: 12px;
        margin-top: 5px;
        max-width: 600px;

    }


    /* ----------------------------------------------------courseProgram------------------------------------------ */


    .courseProgramSection {
        max-width: 375px;
        margin: 0px auto;
    }

    .courseProgramTitle {
        display: flex;
        justify-content: start;
        font-size: 26px;
        line-height: 26px;
        margin-left: 35px;
        margin-bottom: 0px;
    }


    .courseProgramCards {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        max-width: 375px;
    }

    .courseProgramElement {
        height: 153px;
        width: 186px;
        border-radius: 14px;
    }

    .courseProgramElement img {
        height: 75px;
        width: 186px;
    }


    .courseProgramCardsHeader {
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
    }


    .courseProgramElement p:last-child {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin-top: 9px;
    }

    /* ----------------------------------------------------5 block------------------------------------------ */

    .courseFeedbackContainer {
        height: 423px;
        max-width: 375px;
    }

    .courseFeedbackHeader {
        font-size: 26px;
        font-weight: 700;
        line-height: 26px;
        max-width: 257px;
        margin-left: 35px;
    }

    .courseFeedbackCard {
        max-height: 248px;
        max-width: 308px;
        border-radius: 14px;
        margin-left: 35px;
        padding: 20px;
    }

    .courseFeedbackCardText {
        min-width: 266px;
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;

    }

    .courseFeedbackCardSocial {
        margin-top: 15px;

    }

    .courseFeedbackSocialPhoto img {
        height: 80px;
        width: 90px;
    }

    .courseFeedbackSocialMeta {
        margin-top: -20px;
    }

    .courseFeedbackSocialMetaName {
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
    }

    .courseFeedbackSocialMetaIcon img {

        height: 17px;
        width: 15px;
    }

    /* --------------------------------------------------courseProps-mobile------------------------------------- */

    .coursePropsTitle {
        height: 150px;
        margin-left: 35px;
    }

    .coursePropsTitle>h2 {
        font-size: 26px;
        line-height: 26px;
        max-width: 222px;
    }

    .coursePropsPrice {
        height: 100px;
        margin-left: 35px;
    }

    .coursePropsPriceWord {
        font-size: 12px;
    }

    .coursePropsPriceNumber {
        font-size: 37px;
    }

    .coursePropsParagraphWrapper {
        height: 150px;
        justify-content: space-between;
        margin-left: 35px;
    }

    .paragraph {
        max-width: 138px;
        margin: 0;
    }

    .paragraphTitle {
        font-size: 12px;
        margin-bottom: 5.5px;
    }

    .paragraphText {
        font-size: 10px;
    }

    /* ----------------------------- */

    .footerUpper {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: unset;
        height: 200px;
        margin-left: 35px;
    }

    .iconLeft {
        margin: 0 14px 47.6px 0;
        width: 15.38px;
        height: 15.38px;
    }

    .footerLogo {
        width: 53.59px;
        height: 60px;
    }

    .footerRightSide {
        font-size: 12px;
        height: 50px;
    }

    .mail {
        display: flex;
        align-items: center;
    }

    .mobileNumber {
        margin-top: -2px;
    }

    .mobileIcon {
        margin-right: 3%;
        margin-bottom: 5%;
        width: 12.58px;
        height: 12.58px;
    }

    .mailIcon {
        margin-right: 10px;
        width: 12.58px;
        height: 8.39px;
    }

    .footerCopyright {
        height: 50px;
        font-size: 10px;
        min-width: 102px;
        margin-left: 35px;
    }

}